@import url('https://fonts.googleapis.com/css?family=Meddon');
@import url('https://fonts.googleapis.com/css?family=Metal+Mania&subset=latin-ext');
body{
    background-color: #cfd8dc;
}
audio{
    width: 100%;
}
.titulo{
    font-weight: 800;
}
.slider-pro h5.sp-layer{
    top:90% !important;

}
.sp-layer{
    background: rgba(224, 224, 18, 0.5) !important;
    width: 100%;
    text-align: center;
}
.oo{
    background: rgba(224, 224, 18, 0.5) !important;
    width: 100%;
    text-align: center;
    display: inline-block;
}
.cont li{
    display: inline;
    padding-right: 20px;
}
.mens{
    font-family: 'Meddon', cursive;
    font-size: 2em;
}
nav {
    font-family: 'Metal Mania', cursive;
}